@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(33, 33, 33, 1);
}

.app-container {
    height: 100%;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.component {
    height: 100vh;
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.status-panel {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 10px;
    text-align: center;
    background-color: rgba(33, 33, 33, 1);
}

.component-list {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

.component-list li {
    margin: 0 10px;
    cursor: pointer;
}

.component-list li.active {
    font-weight: bold;
    color: rgba(217, 120, 114, 1);
}

.technologies {
    margin: 2rem 0;
}

.list {
    display: flex;
}

.list li {
    padding: 0.5rem;
}

.simple-text {
    color: rgba(201, 205, 214, 1)
}

.purple-text {
    color: rgba(208, 179, 243, 1);
}

.blue-text {
    color: rgba(155, 216, 234, 1)
}

.green-text {
    color: rgba(195, 221, 156, 1)
}

.red-text {
    color: rgba(217, 120, 114, 1)
}